:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.forms {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.form {
  width: 500px;
}