<app-header [rate]="usdEurRate"></app-header>

<main>
  <div class="container">
    <ng-container *ngIf="rateArray.length > 0; else content">
      <div class="forms">
        <form class="form left-side">
          <app-select
            name="select"
            [value]="leftSide.currency"
            [options]="options"
            [disabledValue]="rightSide.currency"
            (onChange)="updateCurrency('left', $event)"
          ></app-select>
          <app-input
            [value]="leftSide.value"
            (onChange)="updateValue('left', $event)"
          ></app-input>
        </form>

        <button class="replace" (click)="replace()">⇔</button>

        <form class="form rigth-side">
          <app-select
            name="select"
            [value]="rightSide.currency"
            [options]="options"
            [disabledValue]="leftSide.currency"
            (onChange)="updateCurrency('right', $event)"
          ></app-select>
          <app-input
            [value]="rightSide.value"
            (onChange)="updateValue('right', $event)"
          ></app-input>
        </form>
      </div>
    </ng-container>
  </div>
</main>

<app-footer></app-footer>

<ng-template #content>
  <app-loader></app-loader>
</ng-template>
